---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jorma in Berlin - Aikiwerk">
	<main>
		<section class="content-section">
			<div class="container">
				<h1>Jorma in Berlin</h1>
				<p>Informationen über Jormas Aikido-Seminare und Besuche in Berlin.</p>
				
				<p>Jorma ist ein erfahrener Aikido-Lehrer, der regelmäßig Seminare und Workshops in Berlin abhält.</p>
				
				<p>Für aktuelle Termine und weitere Informationen kontaktieren Sie uns: <a href="mailto:training@aikiwerk.de">training@aikiwerk.de</a></p>
			</div>
		</section>
	</main>
</Layout>