---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kontakt - Aikiwerk">
	<main>
		<h1>Kontakt</h1>
		
		<h2>Adresse</h2>
		<p><strong>Aikiwerk Aikido Training</strong><br />
		Rheinstraße 45<br />
		12161 Berlin-Steglitz</p>
		
		<h2>Trainingszeiten</h2>
		<p><strong>Dienstag:</strong> 19:00 - 21:00 Uhr<br />
		<strong>Donnerstag:</strong> 19:00 - 21:00 Uhr</p>
		
		<h2>E-Mail</h2>
		<p><a href="mailto:training@aikiwerk.de">training@aikiwerk.de</a></p>
		
		<h2>Anfahrt</h2>
		<p>Die Trainingsstätte ist gut mit öffentlichen Verkehrsmitteln zu erreichen:</p>
		<ul>
			<li>S-Bahn: S1 bis Friedenau</li>
			<li>Bus: Verschiedene Linien</li>
		</ul>
		
		<h2>Schnupperstunden</h2>
		<p>Interessierte sind herzlich zu einer kostenlosen Schnupperstunde eingeladen. 
		Bitte melden Sie sich vorher per E-Mail an.</p>
		
		<hr />
		<p><em>Wir freuen uns auf Ihren Besuch!</em></p>
	</main>
</Layout>